body{
    background-color: #232323
}
.container{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.square{
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: rgb(236, 205, 157);
    margin: 1rem;
}