body{
    background-color: #232323
}
h1{
    display: flex;
    font-size: 50px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 150px;
}
#stripe{
    display: block;
    width: 100px;
    color: #ffffff;
    height: 30px;
    text-align: center;
    margin: 30px auto;
}
.mensaje{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #ffffff;
}
.colorDisplay{
    color: #ff0000;
    margin: 0 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.squares{
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    margin: 1rem;
}